.body {
    background-color: rgb(218, 217, 217);
    margin: 0 auto;
}

.catalog {
    margin: 0 auto;
    width: 900px;
    background-color: white;
    border-radius: 25px;
}

.title {
    text-align: center;
    padding-top: 50px;
}

#addProductForm {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

.input {
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid rgb(223, 223, 223);
    height: auto;
    text-align: center;
    padding: 10px;
}

.btn {
    background-color: rgb(76, 76, 255);
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
}

.list {
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
}

.products-list {
    display: flex;
    justify-content: space-between;
}

.product {
    margin: 10px 5px 10px 0px; 
}
.product-none {
    display: none;
}

.delete-btn {
    background-color: rgb(76, 76, 255);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid white;
}

#productCategory-list {
    margin-left: 60px;
    margin-bottom: 50px;
}
